<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>jsp</display-name>
  	<servlet>
 		<servlet-name>DengLu</servlet-name>
 		<servlet-class>com.hp.servlet.DengLu</servlet-class>
 	</servlet>
 	<servlet-mapping>
 		<servlet-name>DengLu</servlet-name>
 		<url-pattern>/DengLu</url-pattern>
 	</servlet-mapping>
    <servlet>
 		<servlet-name>oneSelvet</servlet-name>
 		<servlet-class>com.hp.servlet.oneSelvet</servlet-class>
 	</servlet>
 	<servlet-mapping>
 		<servlet-name>oneSelvet</servlet-name>
 		<url-pattern>/oneSelvet</url-pattern>
 	</servlet-mapping>
 	<servlet>
 		<servlet-name>Quan</servlet-name>
 		<servlet-class>com.hp.servlet.Quan</servlet-class>
 	</servlet>
 	<servlet-mapping>
 		<servlet-name>Quan</servlet-name>
 		<url-pattern>/Quan</url-pattern>
 	</servlet-mapping>
 	<servlet>
 		<servlet-name>Delete</servlet-name>
 		<servlet-class>com.hp.servlet.Delete</servlet-class>
 	</servlet>
 	<servlet-mapping>
 		<servlet-name>Delete</servlet-name>
 		<url-pattern>/Delete</url-pattern>
 	</servlet-mapping>
 	<servlet>
 		<servlet-name>Update</servlet-name>
 		<servlet-class>com.hp.servlet.Update</servlet-class>
 	</servlet>
 	<servlet-mapping>
 		<servlet-name>Update</servlet-name>
 		<url-pattern>/Update</url-pattern>
 	</servlet-mapping>
 	<servlet>
 		<servlet-name>Regist</servlet-name>
 		<servlet-class>com.hp.servlet.Regist</servlet-class>
 	</servlet>
 	<servlet-mapping>
 		<servlet-name>Regist</servlet-name>
 		<url-pattern>/Regist</url-pattern>
 	</servlet-mapping>
</web-app>